.about {
    padding: 30px 0 40px;
    &__wrapper {
        display: grid;
        grid-template-columns: 8fr 9fr;
        gap: 1px;
    }
    &__item {
        border-radius: 10px;
        background: #f0f0f0;
        &:nth-child(1) {
            padding: 50px 52px 60px;
            display: flex;
            flex-direction: column;
            .title {
                display: flex;
                align-items: flex-end;
                flex-grow: 1;
                margin-bottom: 12px;
            }
        }
        &:nth-child(2) {
            padding: 69px 124px 60px 73px;
        }
        &:nth-child(3) {
            padding: 39px 52px 44px;
        }
        &:nth-child(4) {
            padding: 55px 72px 44px;
        }
        &__last {
            grid-column: 1/-1;
            padding: 48px 59px 42px 48px;
            &__wrap {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                align-items: center;
            }
            a {
                img {
                    max-width: 100%;
                    display: block;
                }
            }
        }
        &__raiting {
            display: flex;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: right;
            gap: 15px;
            max-width: 252px;
            span {
                font-weight: 700;
                font-size: 48px;
                line-height: 112%;
                color: #000;
            }
            &__wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        
    }
    &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 133%;
            margin-bottom: 27px;
        }
    &__list {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        list-style: none;
        li {
            position: relative;
            padding-left: 33px;
            margin-bottom: 24px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: "";
                width: 21px;
                height: 14px;
                display: block;
                background: url(../img/check.svg) no-repeat center / contain;
                position: absolute;
                top: 4px;
                left: 0;
            }
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 8px;
        margin-top: 64px;
    }
    &__kontur {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000;
        text-decoration: none;
        cursor: pointer;
        border-radius: 4px;
        background: #fff;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: fit-content;
        transition: bacground-color .3s;
        &:hover {
            background: #dadada;
        }
    }
    &__sbis {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        border-radius: 4px;
        background: #e44f19;
        height: 40px;
         display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        width: fit-content;
        transition: bacground-color .3s;
        &:hover {
            background: #ff6e3a;
        }
    }
    &__rekw {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 20px;
        li {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            
        }
    }
    &__address {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        margin-top: 33px;
        margin-bottom: 27px;
        max-width: 400px;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }
}