.form-order {
    padding: 40px 0 80px;

    &__wrap {
        max-width: 821px;
        margin: 0 auto;

        .title {
            text-align: center;
            margin-bottom: 12px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        max-width: 615px;
        margin: 0 auto;
        margin-bottom: 24px;
    }

    &__form {
        display: grid;
        grid-template-columns: 3fr 5fr;
        gap: 24px 20px;

        .btn {
            grid-column: 1/-1;
            height: 64px;
            font-weight: 600;
            font-size: 16px;
        }

        #email-input:invalid:not(:placeholder-shown) {
            background: #ffe5e5;
        }
        


    }

    &__input {
        border-radius: 4px;
        background: #f0f0f0;
        height: 48px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000;
        padding: 12px 20px;
        border: none;
        width: 100%;

        &:focus~span {
            font-size: 12px;
            line-height: 133%;
            transform: translateY(-16px);
            left: 0;
            top: 0;
        }

        &:focus {
            border: 1px solid #000;
            outline: none;
        }
        &:not(:placeholder-shown) ~span {
            font-size: 12px;
            line-height: 133%;
            transform: translateY(-16px);
            left: 0;
            top: 0;
        }
    }

    &__label {
        position: relative;

        span {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            transition: all .3s;
        }
    }

    &__textarea {
        &__wrap {
            grid-column: 2/3;
            grid-row: 1/4;
            position: relative;

            .myfile {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }

            .main-form__download {
                width: calc(100% - 16px);
                position: absolute;
                bottom: 8px;
                right: 8px;
                display: flex;
                justify-content: flex-end;
                label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 143%;
                    color: #000;
                    cursor: pointer;
                    padding: 6px 12px;
                    transition: background-color .3s;
                    border-radius: 4px;
                    background: #d9d9d9;

                    &:hover {
                        background-color: #b5b5b5;
                        .remove-file {
                            background-color: #000;
                            &::after {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
            .file-filled {
                label {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    background: #fff;
                    
                }
                .remove-file {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    border-radius: 100%;
                    background-color: #f0f0f0;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        display: block;
                        background-color: #000;
                        mask: url(../img/remove-file.svg) no-repeat center/contain;
                    }
                }
            }
        }

        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: #f0f0f0;
        resize: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000;
        padding: 12px 20px;
        border: none;
        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #000;
        }

        &:focus {
            outline: none;
            border: 1px solid #000;

        }
    }

    &__policy {
        grid-column: 1/-1;
    }

    &__policy {
        display: flex;
        gap: 8px;
        align-items: start;

        &__text {
            font-weight: 400;
            font-size: 12px;
            line-height: 133%;
            color: #000;
        }

        &__checkbox {
            background: #ebebeb;
            border-radius: 4px;
            width: 16px;
            height: 16px;
            min-width: 16px;
            min-height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;


            .mark {

                display: none;
                width: 10px;
                height: 6px;
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.95268 0.190582C8.29765 -0.0635106 8.78372 -0.0635443 9.12846 0.190582L9.19975 0.249176L9.27104 0.319489C9.59937 0.6843 9.57474 1.24056 9.19975 1.57828L4.56205 5.75113L4.54252 5.76675L4.50834 5.79507L4.48881 5.8107C4.36276 5.90324 4.21939 5.96042 4.07572 5.9855C3.96148 6.00536 3.84342 6.0053 3.72904 5.9855C3.55694 5.95557 3.38524 5.87916 3.24272 5.75113L0.80131 3.55484C0.400866 3.19464 0.400866 2.58594 0.80131 2.22574L0.872599 2.16715C1.21759 1.91301 1.70353 1.91274 2.04838 2.16715L2.11967 2.22574L3.90092 3.8273L7.88139 0.249176L7.95268 0.190582ZM1.78471 2.59781C1.76231 2.57767 1.73886 2.56019 1.71342 2.54507L1.78471 2.59781Z' fill='%23E44F19'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;


            }

            input {
                opacity: 0;
                width: 1px;
                height: 1px;
                position: absolute;
                margin: -1px;
                clip: rect(0, 0, 0, 0);
                font-size: 0;

                &:checked+.mark {
                    display: block;
                }

            }
        }

    }
}