@media screen and (max-width:1439px) {
    .container {
        &__wrap {
            padding: 0;
        }
    }
    .price {
        &__content {
            padding: 48px 0 48px 48px;
        }
    }
    .providers {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .table {
        &__filter {
            padding: 32px;
        }
        &__form {
            grid-template-columns: repeat(5, 1fr);
        }
    }
    .price {
        &__img {
            img {
                margin-left: unset;
            }
        }
    }
    
}

@media screen and (max-width:1023px) {
    .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 133%;
    }
    .header {
        &__head {
            &__wrapper {
                flex-wrap: wrap;
                gap: 16px;
            }
        }
        &__address {
            &__text {
                text-align: right;
            }
        }
        &__email {
            text-align: right;
        }
    }
    .menu {
        flex-wrap: wrap;
    }
    .about__item {
        &__raiting {
            &__wrap {
                flex-wrap: wrap;
            }
        }
        &__last {
            &__wrap {
                gap: 16px;
            }
        }
    }
    .table {
        &__form {
            grid-template-columns: repeat(2, 1fr);
            .btn {
                grid-column: 1/-1;
                width: 100%;
                margin: 0;
            }
        }
    }
    
}

@media screen and (max-width:767px) {
    input {
    -webkit-appearance: none; 
    border-radius: 0;        
    }
    .desktop {
        display: none!important;
    }
    .mobile {
        display: block!important;
    }
    .container {
        width: 100%;
        padding: 0 16px;
        &_pr0 {
            padding-right: 0;
        }
    }
    .header {
        &__head {
            &__wrapper {
                display: none;
            }
        }
        &__mob {
            display: flex;
            justify-content: space-between;
            padding: 8px 16px;
            align-items: flex-start;
            &__wrap {
                display: flex;
                align-items: center;
                gap: 12px;
            }
            &__phone {
                border-radius: 100%;
                background: url(../img/phone-icon.svg) no-repeat center/16px 16px;
                background-color: #e9e9e9;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 44px;
                height: 44px;
                text-decoration: none;
            }
        }
    }
    .menu {
        position: fixed;
        gap: 0;
        flex-direction: column;
        top: 89px;
        right: -100%;
        background: #fff;
        padding: 32px 16px;
        width: 100%;
        height: calc(100% - 89px);
        transition: all .3s;
        z-index: 3;
        justify-content: flex-start;
        &_active {
            right: 0;
        }
        a {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #000;
                padding: 8px 16px;
                justify-content: flex-start;
                border-radius: 4px;
                &:hover {
                    background: #e9e9e9;
                }

            }
        .mobile_btn {
            display: block;
            margin-top: auto;
            button {
                width: 100%;
            }
        }
    }
    .hamburger {
        display: flex;
    }
    .btn_transparent {
        padding: 12px;
        width: 100%;
    }
    .promo {
        padding-top: 0px;
        padding-bottom: 10px;
        &__wrapper {
            flex-direction: column;
        }
        &__img {
            order: 1;
            max-width: 100%;
            img {
                max-width: 88%;
                margin: 0 auto;
            }
        }
        &__content {
            order: 2;
        }
        &__title {
            font-weight: 700;
            font-size: 28px;
            line-height: 136%;
            margin-bottom: 8px;
        }
        &__btns {
            .btn-grey {
                display: none;
            }
            
        }
    }
    .table {
        padding-bottom: 20px;
        padding-top: 48px;
        .grey {
            margin: 0;
        }
        &__row {
            overflow: visible;
            display: grid;
            grid-template-columns: 208px 1fr;
            height: auto;
            width: 100%;
            padding: 8px 16px 14px;
            .order_name {
                grid-row: 1/2;
                grid-column: 1/-1;
                margin-bottom: 10px;
                line-height: 134%;
                span {
                    display: contents!important;
                }

            }
            
            &__price {
                grid-row: 2/3;
                grid-column: 1/2;
                margin-bottom: 0px;
                font-weight: 700;
                font-size: 14px;
            }
            .btn {
                grid-row: 2/4;
                grid-column: 2/4;
                margin-right: 0;
                background: #e44f19;
                font-weight: 400;
                font-size: 16px;
                
                color: #fff;
                margin-top: 4px;
                height: 32px;
            }
            &__tn {
                grid-row: 3/4;
                grid-column: 1/3;
                display: flex;
                font-size: 13px;
                
            }
            .fs_16 {
                padding: 0;
            }
        }
        &__table {
            margin-bottom: 30px;
        }
        .nalichie, .cena {
            border-radius: 39px;
            background: #e9e9e9;
            border: none;
            cursor: pointer;
            text-decoration: none;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: fit-content;
            padding: 2px 12px;
            transition: all .2s;
            &::after {
                content: '';
                display: block;
                background-color: #000;
                width: 10px;
                height: 12px;
                mask: url(../img/icon-down.svg) no-repeat center/contain;

            }
            &:hover {
                color: #e44f19;
                &::after {
                    background-color: #e44f19;
                }
            }
            &.active {
                &::after {
                    transform: rotate(180deg) scaleX(-1);
                }
            }
        }
        &__filter {
            padding: 16px 20px 20px;
            margin-bottom: 32px;
        }
        &__form {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #fff;
            margin: 0;
            padding: 14px 16px;
            
            
            flex-direction: column;
            align-items: stretch;
            justify-content: start;
            gap: 0;
            z-index: 3;
            &_active {
                display: flex;
                .mob-num {
                    display: block;
                }
            }
            .form-order__label {
                .form-order__input:not(:placeholder-shown)~span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #000;
                    transition: all 0s;
                    
                    transform: translateY(-50%);
                    left: 16px;
                    top: 50%;
                }
                height: 58px;
                border-bottom: 1px solid  #e9e9e9;
                &::after {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 14px;
                    background: url(../img/select-input-mob.svg) no-repeat center/contain;
                    position: absolute;
                    top: 20px;
                    right: 0;
                }
                span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #000;
                    transition: all 0s;
                    width: 89.5%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    output {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: right;
                        color: #e44f19;
                    }
                }
                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                    padding: 0;

                    
                }
                &_active {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    z-index: 5;
                    padding: 24px;
                    &#diametr::before {
                        content: 'Диаметр';
                    }
                    &#tolshina::before {
                        content: 'Толщина';
                    }
                    &::before {
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 133%;
                        color: #000;
                        padding-left: 20px;
                        
                    }
                    &::after {
                        display: none;
                    }
                    input {
                        border-radius: 4px;
                        background: #e9e9e9;
                        height: 40px;
                        margin-top: 45px;
                        opacity: 1;
                        width: 100%;
                        color: #000;
                        padding: 12px 20px;
                    }
                    span {
                        top: 0;
                        transform: none;
                        top: 75px;
                        left: 24px;
                        width: fit-content;
                        display: inline;
                        height: auto;
                        output {
                            display: none;
                        }
                    }
                    .form-order__input:not(:placeholder-shown)~span {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        color: #000;
                        transition: all 0s;
                        
                        top: 0;
                        transform: none;
                        top: 75px;
                        left: 24px;
                    }
                    .close-filter-input2 {
                        display: flex;
                        position: fixed;
                        top: 24px;
                        z-index: 10;
                        left: 0;
                        width: 48px;
                        height: 48px;
                        background: url(../img/select-input-mob.svg) no-repeat center/8px 14px;
                        transform: rotate(180deg);
                        border: none;
                    }
                }
            }
            .close-filer-input {
                &_active {
                    display: flex;
                }
            }
            .select {
                border: none;
                height: 57px;
                &::after {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 14px;
                    background: url(../img/select-input-mob.svg) no-repeat center/contain;
                    position: absolute;
                    top: 21px;
                    right: 0;
                }
                &__header {
                    height: 57px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #000;
                    background-color: #fff;
                    padding: 16px;
                    border: none;
                    border-bottom: 1px solid #e9e9e9;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    output {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: right;
                        color: #e44f19;
                    }
                }
                // &.is-active {
                    
                // }
                &_active {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    max-height: 100%;
                    padding: 14px 24px 16px;
                    z-index: 10;
                    &#gost {
                        .select__list {
                            &::before {
                            content: 'ГОСТ, ОСТ, ТУ';
                            }
                        }
                        
                    }
                    &#marka {
                        .select__list {
                            &::before {
                            content: 'Марка стали';
                            }
                        }
                        
                    }
                    
                    .select__item {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        color: #000;
                        padding: 16px 16px;
                        border-bottom: 1px solid #e9e9e9;
                        border-radius: 0;
                    }
                    .select__list {
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        max-height: 100%;
                        border-radius: 0;
                        transition: all 0s;
                        padding: 14px 24px;
                        &::before {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 133%;
                            color: #000;
                            padding-left: 32px;
                            margin-bottom: 24px;
                            display: block;
                        }
                    }
                    .close-filter-select {
                        display: flex;
                        position: fixed;
                        top: 6px;
                        z-index: 10;
                        left: 0;
                        width: 48px;
                        height: 48px;
                        background: url(../img/select-input-mob.svg) no-repeat center/8px 14px;
                        transform: rotate(180deg);
                        border: none;
                    }
                }
            }
            .btn {
                margin-top: 24px;
            }
            
        }
        
        .title-mob {
            display: block;
            font-weight: 700;
            font-size: 24px;
            line-height: 133%;
            color: #000;
            margin-bottom: 24px;
            padding: 0 16px;
        }
        .filter-close-mob {
            display: block;
            position: absolute;
            top: 8px;
            right: 16px;
            width: 44px;
            height: 44px;
            border-radius: 100%;
            
            border: none;
            background: url(../img/filter-close.svg) no-repeat center/16px 16px;
            background-color: #e9e9e9;
        }
        .show-filter {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #fff;
            border-radius: 4px;
            width: 100%;
            background: #5b5b5b;
            border: none;
            cursor: pointer;
            margin-top: 16px;
            height: 40px;
            padding: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #fff;
        }
        &__title {
            &__wrap {
                flex-direction: column;
                gap: 7px;
                .title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 133%;
                }
            }
        }
        .grey {
            flex-direction: column;
            justify-content: start;
            align-items: start;
            width: 100%;
            gap: 0;
        }
        .btn_transparent {
            padding-inline: 20px;
            height: 48px;
        }
        
    }
    .price {
        &__wrap {
            padding: 24px 18px 0 20px;
        }
        &__wrapper {
            flex-direction: column;
            padding: 0;
            gap: 16px;
        }
        &__content {
            padding: 0;
        }
        &__list {
            margin-top: 12px;
            li {
                
                &::before {
                    top: 6px;
                }
            }
        }
        &__download {
            margin-top: 16px;
            width: 100%;
        }
        &__img {
            align-self: flex-start;
            img {
                margin-right: auto;
                margin-left: unset;
            }
        }
    }
    .wins {
        &__list {
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(192px, auto);
            gap: 12px;
            margin-top: 16px;
            li {
                padding-bottom: 20px;
            }
        }
        &__title {
            font-size: 20px;
            line-height: 140%;
            margin-top: 24px;
        }
        &__text {
            font-size: 16px;
            line-height: 150%;
        }
    }
    .serv {
        padding-bottom: 0;
        &__list {
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(280px, 1fr);
            margin-top: 16px;
            gap: 12px;
            li {
                padding: 24px 24px 0;
            }
        }
        &__title {
            font-size: 20px;
            line-height: 140%;
        }
        &__text {
            flex-grow: unset;
            margin-bottom: 12px;
        }
        &__img {
            position: relative;
            right: auto!important;
            margin-top: -10px;
        }
        &__link {
            flex-grow: 1;
        }
    }
    .form {
        &__wrapper {
            flex-direction: column;
            gap: 12px;
            padding: 24px 16px 37px 20px;
        }
        &__text {
            margin-top: 12px;
        }
        &__input {
            &__text {
                font-size: 12px;
                margin-bottom: 8px;
            }
            &__label {
                margin-bottom: 12px;
            }
        }
    }
    .providers {
        &__list {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            margin-top: 16px;
            li {
                scroll-snap-align: start;
                img {
                    width: 295px;
                    max-width: 295px;
                }
            }
        }
    }
    .sert {
        &__list {
            grid-template-columns: 1fr;
            margin-bottom: 24px;
            margin-top: 16px;
            gap: 12px;
            li {
                a {
                font-size: 14px;
                line-height: 143%;
                padding: 12px 40px 12px 76px;
                span {
                    font-size: 12px;
                    line-height: 133%;
                    margin-top: 0;
                }
            }
            }
        }
    }
    .photos {
        &__list {
           display: flex;
           overflow-x: auto;
           gap: 11px;
           scroll-snap-type: x mandatory;
           margin-bottom: 0;
           li {
            min-width: 156px;
            scroll-snap-align: start;
            a {
                width: 100%;
            }
           }
        }
        .btn_transparent {
            display: none;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__item {
            padding: 24px 20px!important;
            &:nth-child(1) {
                .title {
                    margin-top: 34px;
                    margin-bottom: 16px;
                }
            }
            &__raiting {
            order: 2;
            gap: 12px;
            &__wrap {
                gap: 15px;
                .about__kontur {
                    order: 1;
                    width: 100%;
                }
            }
            
        }
        &__last {
                &__wrap {
                    gap: 24px;
                }
            }
            
        }
        &__title {
                font-weight: 700;
                font-size: 20px;
                line-height: 160%;
                margin-bottom: 16px;
            }
        &__list {
            li {
                margin-bottom: 24px;
            }
        }
        &__btns {
            margin-top: 20px;
            flex-direction: column;
            gap: 12px;
            justify-content: flex-start;
            align-items: flex-start;
        }
        &__rekw {
            flex-direction: column;
            gap: 8px;
             justify-content: flex-start;
            align-items: flex-start;
        }
        &__address {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
    }
    .form-order {
        padding-bottom: 60px;
        padding-top: 20px;
        &__wrap {
            padding: 0 4px;
            .title {
                max-width: 98%;
                margin-inline: auto;
            }
        }
        &__form {
            grid-template-columns: 1fr;
            gap: 18px;
            .btn {
                height: 48px;
            }
            #email-input:invalid:not(:placeholder-shown) {
                background: #f0f0f0;
            }
        }
        &__textarea {
            height: 192px;
            &__wrap {
                grid-column: unset;
                grid-row: unset;
                .main-form__download {
                    bottom: 12px;
                }
            }
        }
        &__label:not(:first-child) {
            margin-top: 6px;
        }
        &__text {
            margin-bottom: 40px;
        }
    }
    .map {
        padding: 0 16px;
        div:has(iframe) {
            display: none;
        }
        &__content {
            position: relative;
            top: 0;
            right: 0;
            width: 100%;
            background: #f0f0f0;
            &__wrap {
                padding: 24px 20px;
            }
        }
        &__contacts {
            grid-template-columns: 1fr;
            gap: 24px;
            margin-bottom: 24px;
        }
        &__btn {
            background: #fff;
        }
        &__item {
            line-height: 163%;
        }
    }
    footer {
        padding: 32px 0 24px;
    }
    .footer {
        &__wrapper {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 12px;
            p {
                &:nth-child(1) {
                    order: 3;
                }
                &:nth-child(2) {
                    order: 2;
                }
            }
            a {
                order: 1;
            }
        }
    }
    .modal {
        width: 100%;
        height: 100%;
        padding: 62px 16px 16px;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
        overflow-y: auto;
        .form {
            &__wrapper {
                border-radius: 0;
                padding: 48px 24px;
                height: 100%;
            }
        }
    }
    .modal_order {
        width: 100%;
        height: 100%;
        padding: 62px 16px 16px;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
        overflow-y: auto;
    }
    
}